<h1>Notebook Title</h1>

<h2>Libs</h2>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as sns

<h2>Data</h2>

About this file
The file Bank.xls contains data on 5000 customers. The data include customer demographic information (age, income, etc.), the customer's relationship with the bank (mortgage, securities account, etc.), and the customer response to the last personal loan campaign (Personal Loan). Among these 5000 customers, only 480 (= 9.6%) accepted the personal loan that was offered to them in the earlier campaign.

There are no empty or (NaN) values in the dataset. The dataset has a mix of numerical and categorical attributes, but all categorical data are represented with numbers. Moreover, Some of the predictor variables are heavily skewed (long - tailed), making the data pre-processing an interesting yet not too challenging aspect of the data.

Source: <a href="https://www.kaggle.com/code/yogidsba/personal-loan-logistic-regression-decision-tree/data">Kaggle Data</a>

***

<b>Columns</b>
<p>

**ID** : Customer ID

**Age** : Customerâ€™s age in years

**Experience**: years of professional experience

**Income**: Annual income of the customer (in thousand dollars)

**ZIP Code**: ZIP code.

**Family**: Customer family size

**CCAvg**: Average spending on credit cards per month (in thousand dollars)

**Education**: Education Level

    1: Undergrad

    2: Graduate

    3: Advanced/Professional

**Mortgage**: Value of house mortgage (in thousand dollars)

**Personal_Loan**: Have the customer ever accepted a past personal loan?

**Securities_Account**: Does the customer have securities account with the bank?

**CD_Account**: Does the customer have a certificate of deposit (CD) account in the bank?

**Online**: Does the customer use online banking?

**CreditCard**: Does the customer has a credit card from another bank?

***

In [2]:
df = pd.read_csv('../01_data/Bank_Personal_Loan_Modelling.csv')

In [3]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

<h3>Data Structure</h3>

In [4]:
df.shape

(5000, 14)

In [5]:
df['Personal Loan'].value_counts()

0    4520
1     480
Name: Personal Loan, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [8]:
df.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64